<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Event</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/create-event.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/explore-event.css">
</head>
<body>
    
<header class="index-header-main">
    <div class="header-index-container">
        <h1 class="logo-index">EventPro <i class="fas fa-calendar-alt"></i></h1>
        <nav class="index-nav-main">
            <ul class="index-list-design">
                <li><a href="/" th:href="@{/}">Home</a></li>
                <li><a href="/create-event" th:href="@{/create-event}">Create Event</a></li>
                <li><a href="/explore-events" th:href="@{/explore-events}">Explore Events</a></li>
                <li><a href="/contact-me.html" th:href="@{/contact-me}">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<center>
<section>
    <h1>Create Event</h1>
    <!-- Form for creating an event -->
    <form action="/create-event" method="post">
        <label for="title">Event Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Event Description:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="date">Event Date:</label>
        <input type="date" id="date" name="date" required>

        <button type="submit">Create Event</button>
    </form>
</section>
</center>
<br>
<center>
    <a href="/"><button class="index-cta-button" style="border: none;">Back to Home</button></a>
</center>
<br>
<br>

<footer class="index-footer-main">
    <div class="container">
        <div class="index-footer-info">
            <p>Follow Us</p>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2024 EventPro. All Rights Reserved.</p>
    </div>
</footer>


</body>
</html>




